* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('./assets/images/gameboy-color.png');
  background-size: 1425px auto;
  background-position: center;
  background-repeat: no-repeat;
}