/* FRAME */
.frame {
  display: flex;
  background-color: red;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
}

.frame__box {
  display: flex;
  background-color: white;
}

.frame__box--player {
  flex-direction: row-reverse;
}

.frame__health-bar {
  border: 1px solid black;
  width: 100px;
  height: 10px;
}

.frame__health-bar-inner {
  background-color: green;
  width: 99px;
  height: 9px;
}

.frame__sprite-img {
  height: 100px;
  width: auto;
}

.frame__options {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

.frame__button {
  /* background-color: aqua; */
  width: 100px;
}