@font-face {
  font-family: Pokemon-Font;
  src: url('../assets/Pokemon-GB.ttf');
}

/* FRAME */
.frame {
  display: flex;
  background-color: rgb(249, 224, 248);
  flex-direction: column;
  align-items: center;
  color: rgb(22, 13, 21);
  font-family: Pokemon-Font;
  font-size: 28px;
  text-transform: uppercase;
  border-radius: 5px;
  /* width: 700px;
  height: 630px; */
  height: 500px;
  width: 500px;
}

.frame__box {
  display: flex;
  padding: 4px 0 0 28px;
  height: 33.3%;
  width: 100%;
}

.frame__info {
  padding-top: 4px;
  width: 50%;
}

.frame__level {
  padding-left: 60px;
}

.frame__level--size {
  font-size: 16px;
}

.frame__stats {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 36px;
}

.frame__health {
  margin-left: 8px;
  margin-right: 8px;
}

.frame__stats--opponent {
  border-left: 6px solid rgb(22, 13, 21);
  border-bottom: 6px solid rgb(22, 13, 21);
  border-bottom-left-radius: 5px;
}

.frame__stats--player {
  border-right: 6px solid rgb(22, 13, 21);
  margin-right: 18px;
}

.frame__sprite {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

.frame__sprite--player {
  justify-content: flex-start;
  align-items: center;
}

.frame__box--opponent {
  /* height: 40%; */
}

.frame__box--player {
  flex-direction: row-reverse;
}

.frame__health-bar {
  border: 2px solid rgb(22, 13, 21);
  border-radius: 5px;
  width: 150px;
  height: 12px;
}

.frame__health-bar-inner {
  background-color: rgb(96, 153, 89);
  width: 146px;
  height: 8px;
}

.frame__sprite-img {
  height: 140px;
  width: auto;
}

.frame__hp {
  font-size: 20.5px;
  border-bottom: 6px solid rgb(22, 13, 21);
  border-right: 6px solid rgb(22, 13, 21);
  border-bottom-right-radius: 5px;
  margin-right: 18px;
  padding: 0 0 8px 60px;
}

/* Battle Menu */
.frame__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 8px double rgb(22, 13, 21);
  height: 31.3%;
  width: 95%;
}

.frame__options {
  display: flex;
  flex-wrap: wrap;
  border-left: 8px double rgb(22, 13, 21);
  max-width: 300px;
  height: 100%;
  padding-top: 20px;
}

.frame__button {
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 10px;
}

.frame__button--padding {
  padding-left: 18px;
}

/* Fight Menu */
.frame__fight-menu {
  display: flex;
  flex-direction: column;
  border-left: 8px double rgb(22, 13, 21);
  height: 100%;
  width: 75%;
  padding-top: 20px;
}

.upper__box {
  display: flex;
}

.frame__attack-menu {
  outline: 1px solid rgb(22, 13, 21);
}

.frame__fight-info {
  outline: 1px solid rgb(22, 13, 21);
}

.frame__item-menu {
  outline: 1px solid rgb(22, 13, 21);
}

.frame__change-menu {
  outline: 1px solid rgb(22, 13, 21);
}
